.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.not-found .home-link {
    color: #007bff;
    text-decoration: none;
    margin-top: 1rem;
}